<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="nav">
        <div id="logo">
            
        </div>
        <div id="nav2">
            <h3 href="about.html">About</h3>
            <h3 href="project.html">Project</h3>
            <h3 href="testing.html">Testing</h3>
        </div>
    </div>
    <div>
        <h1></h1>
        <div></div>
    </div>
    <div class="footer">

    </div>
</body>
</html>