@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

a{
    color: inherit;
}

html, body{
    height: 100%;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h3 {
    font-size: 20px;
    color:#78A2CC;
    position:relative;
    bottom: -125px;
}

h4 {
    margin-left: 200px;
    margin-right: 200px;
    font-size: 25px;
    color: #23395d;
}

.nav{
    background-color: #4682B4;
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-around;
    align-items: center;
    border-bottom-right-radius: 40px 40px;
    border-bottom-left-radius: 40px 40px;
}

#logo{
    flex-grow: 3;
}

#logoimage {
    margin-left: 20px;
}

#nav2 {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    color: white;
    margin-bottom: 5px;
}

.footer{
    display: flex;
    width: 100%;
    height: 10%;
    background-color: #4682B4;
    border-top-right-radius: 40px 40px;
    border-top-left-radius: 40px 40px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    justify-content: center;
    align-items: end;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
}

#home{
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 80%;
}

#welcome{
    display: flex;
    font-size: 80px;
    padding-left: 80px;
    align-items: end;
    flex-grow: 1;
    opacity: 0;
    transform: translateX(-50px);
    transition: transform 3.5s, opacity 3.5s;
}

#welcome.move{
    opacity: 1;
    transform: translateX(0);
}

#message{
    display: flex;
    font-size: 40px;
    word-spacing: 5px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#button{
    display: flex;
    flex-grow: 1;
    justify-content: end;
}

.files {
    position: absolute;
    top: 75%;
    left: 45%;
}

.gray-square {
    width: 350px;
    height: 350px;
    background-color: #D9D9D9;
    border-radius: 20px;
  }

.conbutton{
    height: 75px;
    width: 75px;
    border: 5px solid black;
    border-radius: 75px;
    margin-right: 300px;
    position: relative;
}

.conbutton::before {
    content: "Click to begin test";
    display: block;
    position: absolute;
    left: -185px;
    top: 15px;
    padding: 7px;
    background-color: rgba(51, 119, 148, 0.8);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 1.5s;
}

.conbutton:hover::before {
    opacity: 1;
}

#arrow1{
    position: relative;
    background-color: black;
    left: 20px;
    top: 23px;
    width: 45px;
    height: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    transform: rotate(0.60turn);
}

#arrow2{
    position: relative;
    background-color: black;
    left: 20px;
    top: 32px;
    width: 45px;
    height: 10px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    transform: rotate(.40turn);
}

input.files {
    opacity: 0;
    transition: opacity 2s;
}
input.files.loaded {
    opacity: 1;
}

.flex-column{
    flex-direction: column;
}

#fileupload{
 display: flex;
}