{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'screen/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <div id="logo" onclick="window.location.href='/'">
            <img src="{% static 'screen/images/inklusive_logo.png' %}" width="200" id="logoimage">
        </div>
        <div id="nav2">
            <h2><a href="{% url 'about:about' %}">About</a></h2>
            <h2><a href="{% url 'resources:resources' %}">Resources</a></h2>
            <h2><a href="{% url 'testing:testing' %}">Testing</a></h2>
        </div>
    </div>
    <div class="content flex flex-column">
        <div id="title">Resources</div>
        <div class="Rbigasstext help">
            <br></br>
            Books
            <br></br>

            <a target="_blank" href="https://www.readinessforreading.com/">Readiness for Reading</a>
            Beth Moore, 2017.
            <a target="_blank" href="https://www.wvced.com/">A Guide to Helping Your Child at Home</a>

Diana Hanbury King, WVC Ed., 2015.

<a target="_blank" href="https://www.wvced.com/">Basic Facts About Dyslexia & Other Reading Problems</a>

Louisa Cook Moats, Karen Daken,
The International Dyslexia Association, 2008.

<a target="_blank" href="https://www.wvced.com/">Straight Talk About Reading:</a>

 How parents can make a difference during the early years
Susan Hall & Louisa C. Moats, McGraw Hill, 2006.

<a target="_blank" href="https://www.wvced.com/">Recipe for Reading Intervention Strategies for Struggling Readers</a>

Frances Bloom & Nina Traub, EPS, 2005.
<a target="_blank" href="https://www.wvced.com/">Overcoming Dyslexia</a>

Sally Shaywitz, M.D., Vintage, 2003.

<a target="_blank" href="https://www.wvced.com/">Wrightsaw: From Emotions to Advocacy</a>

Pam Wright & Pete Wright, 2006



For Educators & Administrators:
<a target="_blank" href="https://www.wvced.com/">Dyslexia in the Classroom - What Every Teacher Needs to Know</a>
 International Dyslexia Association Handbook


 <a target="_blank" href="https://www.wvced.com/">Knowledge & Practice Standards for Teachers of Reading</a>

International Dyslexia Association 
Professional Standards & Practices Committee

        </div>
        <div class="Lbigasstext help">
            Websites
            <br></br>
            International Dyslexia Association Fact Sheets about dyslexia, dysgraphia,
            ADHD; dyslexia advocacy, suggested readings for parents and teachers.
            <a target="_blank" href="www.eida.org">www.eida.org</a>
            
            The Learning Disabilities Association of America - Information and resources.
            <a target="_blank" href="www.ldaamerica.org">www.ldaamerica.org</a>
            
            The Academy of Orton-Gillingham Practitioners and Educators (Official OG site) 
            -Information about OG Approach, Directory of training programs, 
            certified tutors and schools.
            <a target="_blank" href="www.ortonacademy.org">www.ortonacademy.org</a>
            
            Information about learning to read, helping struggling readers. Book Lists.
            <a target="_blank" href= "www.readingrockets.org">www.readingrockets.org</a>
            
            Information about dyslexia, intervention.
            <a target="_blank" href="www.BrightSolutions.us">www.BrightSolutions.us</a>
            
            (Formerly Recording for the Blind and Dyslexic) Audio Textbooks.
            <a target="_blank" href="www.learningally.org">www.learningally.org</a>
            
            Free audio book service for those who qualify w/ reading disability.
            <a target="_blank" href="www.statelibrary.sc.gov">www.statelibrary.sc.gov</a>
            
            Multisensory language instruction program for classroom teachers.
            <a target="_blank" href="www.projectread.com">www.projectread.com</a>
            
            Richland Library - Books on dyslexia for children and adults. Materials &
             workshops for teaching beginning & struggling readers.
             <a target="_blank" href="www.richlandlibrary.com">www.richlandlibrary.com</a>
            
            Sandhills School - an Accredited Orton-Gillingham School, & Training Facility
            <a target="_blank" href="www.sandhillsschool.org">www.sandhillsschool.org</a>
            
            Multisensory games following the OG sequence
            <a target="_blank" href="www.moosematerials.com">www.moosematerials.com</a>
            
        </div>
    </div>
    <div class="footer">
        <p>Inklusive @ STEMist Hacks 2.0</p>
    </div>
</body>
</html>