{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'screen/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <div id="logo" onclick="window.location.href='/'">
            <img src="{% static 'screen/images/inklusive_logo.png' %}" width="200" id="logoimage">
        </div>
        <div id="nav2">
            <h2><a href="{% url 'about:about' %}">About</a></h2>
            <h2><a href="{% url 'resources:resources' %}">Resources</a></h2>
            <h2><a href="{% url 'testing:testing' %}">Testing</a></h2>
        </div>
    </div>
    <div class="content">
            
        </div>
        <div id="nav2">
            <h3><a href="{% url 'about:about' %}">About</a></h3>
            <h3><a href="{% url 'testing:testing' %}">Testing</a></h3>
        </div>
    </div>
    <div>
        <h1></h1>
        <div></div>
    </div>
    <div class="footer">
        <p>Inklusive @ STEMist Hacks 2.0</p>
    </div>
</body>
</html>