<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/screen/styles.css">
</head>
<body>
    <div class="nav">
        <div id="logo">
            <img src="../../static/screen/images/inklusive_logo.png" width="200" id="logoimage">
        </div>
        <div id="nav2">
            <h2><a href="{% url 'about:about' %}">About</a></h2>
            <h2><a href="{% url 'resources:resources' %}">Resources</a></h2>
            <h2><a href="{% url 'testing:testing' %}">Testing</a></h2>
        </div>
    </div>
    <div class="content">
        <div id="home">
            <div id="welcome"><strong>Welcome</strong></div>
            <div id="message">to the &nbsp;<strong>accessible</strong>&nbsp; and &nbsp;<strong>inclusive</strong>&nbsp;future of dyslexia detection</div>
            <div id="button">
                <div class="conbutton">
                    <div id="arrow1"></div>
                    <div id="arrow2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Inklusive @ STEMist Hacks 2.0</p>
    </div>
</body>
</html>