{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'screen/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <div id="logo" onclick="window.location.href='/'">
            <img src="{% static 'screen/images/inklusive_logo.png' %}" width="200" id="logoimage">
        </div>
        <div id="nav2">
            <h2><a href="{% url 'about:about' %}">About</a></h2>
            <h2><a href="{% url 'resources:resources' %}">Resources</a></h2>
            <h2><a href="{% url 'testing:testing' %}">Testing</a></h2>
        </div>
    </div>
    <div class="content flex flex-column">
        <div id="title">Inklusive</div>
        <div class="bigasstext">
            <div>At Inklusive we are dedicated to making a positive impact in the lives of individuals with dyslexia by providing, a model for early detection through handwriting analysis.</div>
            <div>We understand that dyslexia is a learning difference that affects millions worldwide, and early detection is crucial for providing timely support and intervention.</div>
            <div>Our mission is to provide a user-friendly and accessible solution that empowerss parents and educatorss to identify dyslexia at an early stage.</div>
            <div>Inklusive understands the importance of an official diagnosis from a medical professional and doesn't substitute it's need. It does however provide valuable insight, comprehensive information about dyslexia and other resources that can help it's users gain deeper understanding of the learning difference.</div>
            <div>With inclusivity at the core of our actions, we at Inklusive hold a strong belief in the fact that by recognizing the earlyy signs of dyslexia, we can foster a supportive environment that allows individuals to thrive in their academic and personal pursuits.</div>
        </div>
    </div>
    <div class="footer">
        <p>Inklusive @ STEMist Hacks 2.0</p>
    </div>
</body>
</html>